/lib/flake8-env
/src/.composer/cache

# Help me avoid committing GPG files.
*.gpg
**/private-keys-v1.d/
random_seed
.gpg-v21-migrated

# Do not commit Composer auth credentials.
**/.composer/auth.json

# Syncthing files that are not of interest.
.config/syncthing/csrftokens.txt
