[Desktop Entry]
Name=Signal
Exec=/nix/store/9i2v6xcx1kk6ffaj4jss3aa7nn3v1xsx-signal-desktop-6.0.1/bin/signal-desktop --no-sandbox %U
Terminal=false
Type=Application
Icon=signal-desktop
StartupWMClass=Signal
Comment=Private messaging from your desktop
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;
Categories=Network;InstantMessaging;Chat;
