# Nate Eagleson

# My personal .gitignore file.
# Files that wind up in my git repos as a result of my personal workflow
# shouldn't be ignored across all clones of the repo - editor backup files,
# for instance, vary from user to user, as do editor-generated tool-assist
# files.

# Emacs-related ignores.
.ropeproject
.dir-locals.el
*~
*.elc
.#*
\#*#
TAGS
.projectile

# Tern is an awesome tool, but don't include its turdfiles in version control.
.tern-project
.tern-port

# OS X cruft.
.DS_Store

# Patch files are quite often handy, but you almost never want them under
# version control.
*.patch

# Sometimes you want to keep an old copy of something around, but you don't
# usually want it in version control.
*.bak

# cquery is great, but its index files probably don't belong in VCS.
compile_commands.json
