# Might as well start using these everywhere... I may yet bail and go back
# to Emacs-style bindings. We'll see.
set editing-mode vi

# Keybindings for what a vimmer would call normal-mode.
set keymap vi-command

# Navigate history vim-ish-ly.
"j": next-history
"k": previous-history
